/.lake
blueprint/print/print.aux
blueprint/print/print.fdb_latexmk
blueprint/print/print.fls
blueprint/print/print.log
blueprint/print/print.out
blueprint/print/print.pdf
blueprint/print/print.synctex.gz
blueprint/src/web.paux
blueprint/web/js/d3-graphviz.js
blueprint/web/js/d3.min.js
blueprint/web/js/expatlib.wasm
blueprint/web/js/graphvizlib.wasm
blueprint/web/js/hpcc.min.js
blueprint/web/js/jquery.min.js
blueprint/web/js/js.cookie.min.js
blueprint/web/js/plastex.js
blueprint/web/js/showmore.js
blueprint/web/js/svgxuse.js
blueprint/web/styles/amsthm.css
blueprint/web/styles/blueprint.css
blueprint/web/styles/dep_graph.css
blueprint/web/styles/extra_styles.css
blueprint/web/styles/showmore.css
blueprint/web/styles/theme-blue.css
blueprint/web/styles/theme-green.css
blueprint/web/styles/theme-white.css
blueprint/web/dep_graph_document.html
blueprint/web/index.html
blueprint/web/symbol-defs.svg
blueprint/lean_decls
